.App {
  text-align: center;
}

form{
  display: inline-block;
  background-color: rgb(241, 241, 39) ;
  padding: 20px;
}
form div{
  margin: 15px;

}
form label{
  display: inline-block;
  width: 100px;
}
h1{
  color: red;
}
h2{
  color: rgb(0, 26, 255);
}
nav{
  background-color: aqua;
  color: orangered;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 2rem;
}